<p>I am in root component</p>
<app-home></app-home>
<p>{{title|uppercase}}</p>
<div class="container">
  <table class="table">
    <tr><th>ID</th><th>NAME</th><th>SALARY</th></tr>
    <tr><td>{{emp.id}}</td><td>{{emp.name}}</td><td>{{emp.salary}}</td></tr>
  </table>
<p *ngFor="let c of colors" class="text-info">{{c|uppercase}}</p>

<ul class="list-group">
  <li *ngFor="let c of colors" class="list-group-item list-group-item-action">{{c|uppercase}}</li>
</ul>

<table class="table">
  <tr><th>ID</th><th>NAME</th><th>SALARY</th></tr>
  <tr *ngFor="let e of emp1"><td>{{e.id}}</td><td>{{e.name}}</td><td>{{e.salary}}</td></tr>
</table>

<button (click)="hideFunction()" class="btn btn-primary">{{status}}</button>
<div *ngIf="flag">Show text</div>
<p class="alert-danger">{{msg}}</p>
<div class="form-group">
Name:<input type="text" [(ngModel)]="username" class="form-control">
</div>
<div class="form-group">
Password:<input type="password" [(ngModel)]="password" class="form-control">
</div>
<div class="form-group">
  <input type="button" value="Login" (click)="login()"class="form-control">
  </div>

<app-home *ngIf="flag1"></app-home>
<div class="container">
  <app-parent></app-parent>
  </div>
  <div class="container">
    <app-template-form></app-template-form>

  </div>
  <div class="container">
    <app-reactiveform></app-reactiveform>

  </div>
</div>
